export.html - database commit

<head>
    <meta charset="utf-8">
    <title>Hall Render - Export</title>
    <!-- Mobile Viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!-- Main Stylesheet -->
        <link href="assets/css/screen.css" media="all" rel="stylesheet" type="text/css">
    <!-- jQuery -->
        <script src="assets/js/jquery-1.11.3-min.js"></script>
    <!-- jQuery Plugins -->
        <script src="assets/js/jquery-validation-1.14.0-min.js"></script>
    <!-- Cordova JS -->
        <script src="cordova.js"></script>
    <!-- Functions -->
        <script type="text/javascript">
            document.addEventListener("deviceready", onDeviceReady, false);
            function onDeviceReady(){
                var db = window.openDatabase("HALLRENDER", 1.0, "App database",200000);
                db.transaction(queryDB);
                $('#dump').click(function(){
                    db.transaction(dropDB);
                    alert('Database Cleared!');
                });
            }
            // Query Table Rows
                function queryDB(tx) {
                    tx.executeSql('SELECT * FROM PEOPLE', [], querySuccess);
                }
            // Get Table Rows
                function querySuccess(tx,result){
                    var status = document.getElementById("status");
                    var people = "";
                    var len = result.rows.length;
                    for (var i=0; i<len; i++){
                        people = people + '<li>'+result.rows.item(i).Email+','+result.rows.item(i).FirstName+','+result.rows.item(i).LastName+','+result.rows.item(i).Title+','+result.rows.item(i).Organization+'</li>';
                    }
                    status.innerHTML = people;
                    $("#status").listview("refresh");
                }
            // Delete Database
                function dropDB(tx) {
                    tx.executeSql('DROP TABLE PEOPLE');
                }

            // File Writer
                function saveCourseToFile() {
                    console.log("checkpoint 1");
                    window.requestFileSystem(LocalFileSystem.PERSISTENT, 0, onFSSuccess, onFSError);
                    alert('CSV File Created!');
                }
                function onFSSuccess(fileSystem) {
                    console.log("checkpoint 2");
                    console.log("Opened file system: " + fileSystem.name);
                    fileSystem.root.getFile("export.csv", {create:true, exclusive:false}, gotFileEntry, onFSError);
                }
                function gotFileEntry(fileEntry) {
                    console.log("checkpoint 3");
                    fileEntry.createWriter(gotFileWriter, onFSError);
                }
                function gotFileWriter(writer) {
                    var entries =   $('#status').find('li').filter(function() {
                                        return $(this).find('ul').length === 0;
                                    }).map(function(i, e) {
                                        return $(this).text();
                                    }).get().join('\n');
                    var dbEntries = 'Email,First Name,Last Name,Title,Organization\n'+entries;
                    writer.onwrite = function(evt) {
                    console.log("checkpoint 4: write success!");
                    };
                    writer.write(dbEntries);
                }
                function onFSError(err) {
                    console.log(err.code);
                }
        </script>
</head>
<body onload="onDeviceReady()">
    <div class="inner-wrap">
        <ol id="status" nam="status"></ol>
        <div class="clear"></div>
        <button id="export" onclick="saveCourseToFile()">Create .csv File Export</button>
        <div class="clear"></div>
        <button id="dump">Clear Database</button>
        <p id="warning"><strong>WARNING: </strong>Export to .csv <em>BEFORE</em> clearing database!!</p>
        <div class="clear"></div>
        <div id="contents"></div>
    </div>
</body>



index.html - Form Setup under here

<head>
    <meta charset="utf-8">
    <title>Hall Render - Resources Sign Up</title>
    <!-- Mobile Viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!-- Main Stylesheet -->
        <link href="assets/css/screen.css" media="all" rel="stylesheet" type="text/css">
    <!-- jQuery -->
        <script src="assets/js/jquery-1.11.3-min.js"></script>
        <script src="assets/js/jquery.mobile-1.4.5.min.js"></script>
    <!-- jQuery Plugins -->
        <script src="assets/js/jquery-validation-1.14.0-min.js"></script>
    <!-- Cordova JS -->
        <script src="cordova.js"></script>
    <!-- Functions -->
        <script src="assets/js/functions.js"></script>
        <script type="text/javascript">
            document.addEventListener("deviceready", onDeviceReady, false);
            function onDeviceReady(){
                var db = window.openDatabase("HALLRENDER", 1.0, "App database",200000);
                // Size differences
                    var mainH = $('#main').outerHeight();
                    var sheaH = $('#secondary-header').outerHeight();
                    $('#secondary').height(mainH + sheaH - 40).hide();
                // Form Validation and Sumbit
                    var form   = $('#signup-form');
                    form.validate({
                        debug: true,
                        rules: {
                            firstname: {
                                 required: true
                            },
                            lastname: {
                                 required: true
                            },
                            email: {
                                 required: true,
                                 email: true
                            }
                        },
                        messages: {
                            firstname: {
                                required: "Please enter your first name."
                            },
                            lastname: {
                                required: "Please enter your last name."
                            },
                            email: {
                                required: "Please enter your email."
                            }
                        },
                        submitHandler: function(form){
                            $('#main, #secondary-header').fadeOut(400);
                            $('#secondary').fadeIn(500);
                            db.transaction(populateDB, errorCB, successCB);
                        }
                    });
            }
            // Populate the database
                function populateDB(tx) {
                    // Form Variables
                        var firstName    = $('#cfirst-name').val();
                        var lastName     = $('#clast-name').val();
                        var organization = $('#corganization').val();
                        var title        = $('#ctitle').val();
                        var email        = $('#cemail').val();

                    tx.executeSql('CREATE TABLE IF NOT EXISTS PEOPLE (Email, FirstName, LastName, Title, Organization)');
                    tx.executeSql('INSERT INTO PEOPLE (Email, FirstName, LastName, Title, Organization) VALUES ("'+email+'", "'+firstName+'", "'+lastName+'", "'+title+'", "'+organization+'")');

                    setTimeout(function(){
                        window.location.reload(1);
                    }, 8000);
                }
            // Transaction error callback
                function errorCB(tx, err) {
                    alert("Error processing SQL: "+err);
                }
            // Transaction success callback
                function successCB() {
                    console.log("Entry saved!");
            }
        </script>
</head>
<body onload="onDeviceReady()">
    <!-- Begin Header -->
        <header>
            <div class="wrap">
                <!-- SOMETHING -->
            </div>
        </header>
    <!-- End Header -->
    <!-- Begin Secondary Header -->
        <section id="secondary-header">
            <div class="wrap">
                <div class="inner-wrap">
                    <!-- SOMETHING -->
                </div>
            </div>
        </section>
    <!-- End Secondary Header -->
    <!-- Begin Main -->
        <section id="main">
            <div class="wrap">
                <div class="inner-wrap">
                    <div class="text">
                        <!-- SOMETHING -->
                    </div>
                    <form id="signup-form">
                        <fieldset>
                            <div class="label-input-wrap">
                                <label for="cfirst-name">First Name: (required)</label>
                                <input type="text" id="cfirst-name" name="firstname" tabindex="1">
                            </div>
                            <div class="label-input-wrap">
                                <label for="clast-name">Last Name: (required)</label>
                                <input type="text" id="clast-name" name="lastname" tabindex="2">
                            </div>
                            <div class="label-input-wrap">
                                <label for="corganization">Organization:</label>
                                <input type="text" id="corganization" name="organization" tabindex="3">
                            </div>
                            <div class="label-input-wrap">
                                <label for="ctitle">Title:</label>
                                <input type="text" id="ctitle" name="title" tabindex="4">
                            </div>
                            <div class="label-input-wrap">
                                <label for="cemail">Email: (required)</label>
                                <input type="email" id="cemail" name="email" tabindex="5">
                            </div>
                            <input id="form-submit" type="submit" value="Sign Up" tabindex="6">
                        </fieldset>
                    </form>
                </div>
            </div>
        </section>
    <!-- End Main -->
    <!-- Begin Secondary -->
        <section id="secondary">
            <div class="wrap">
                <div class="inner-wrap">
                    <div class="text">
                        <h3>Thank You</h3>
                    </div>
                </div>
            </div>
        </section>
    <!-- End Secondary -->
</body>